* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'verdana', sans-serif;
    min-height: 100vh;
}


 ul {
    list-style: none;
    display:inline-block;
    display:none;
 }

 nav>ul {
    display:inline-block;
    
}

.html:hover .html2{
    display: block;
    border-top: 5px solid ;
    width: 100px;
}

.java:hover .java2{
    display: block;
    border-top: 5px solid ;
}

.bdd:hover .bdd2{
    display: block;
    border-top: 5px solid ;
}

.php:hover .php2{
    display: block;
    border-top: 5px solid ;
}

.mission:hover .mission2{
    display: block;
    border-top: 5px solid ;
}

.certif:hover .certif2{
    display: block;
    border-top: 5px solid ;
}

.menu input{
    display: none;
}

.menu p{
    display: none;
}

a{
    text-decoration: none;
    color: black;
    margin: 30px;
}

.menu{
    background-color: aqua;
    height: 105px;
    border-top: 5px solid ;
    position: relative;
}
nav>ul>ul{
    position: absolute;
    background-color: rgb(red, green, blue);
    padding: 15px 30px 20px 30px;
    font-weight: bold;
}
