.blocks1
{

    background-color: aquamarine;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;

}
body
{
    background-color: blueviolet;

}

.blocks2
{
    margin-left: 20px;
    height: 200px;
    width: 150px;

    background-color: green;
    float:  right;

}

.blocks3
{
    margin-left: 20px;
    height: 200px;
    width: 150px;

    background-color: skyblue;
    clear: both;

}